<footer>
 <a href="https://github.com/TrevorThomp/HappyTrails-staging" id="github-link"><i class="fa fa-github"></i></a>
 <a id="send" href="mailto:?Subject=Trail Huggers&Body=Check out this trail! https://whispering-forest-65782.herokuapp.com/"></br>
 <img src="../../public/assets/icons8-email-64.png" width=50px alt="Email" /></a>
 <p>© Point-B  All rights reserved.</p>
</footer>
<script src="https://use.fontawesome.com/e501429516.js"></script>
