<footer>
 © GetGoing, Inc. All rights reserved. Checkout this repository @ <a href="https://github.com/TrevorThomp/HappyTrails-staging"></a>
 <a id="send"
 href="mailto:?Subject=Trail Huggers&Body=Check out this trail! https://DeployedSite">Share a trail with a friend!</br>
 <img src="./img/email.svg" width=50px alt="Email" /></a>
</footer>