<header>
  <img src="/public/assets/mountains.png" id="mountain-icon">
  <h1 id="titleHeader">Point-B</h1>
  <nav role='navigation'>
      <div id="menuToggle">
        <input type="checkbox" />
        
        <span></span>
        <span></span>
        <span></span>
        
        
        <ul id="menu">
          <a href="/"><li>Home</li></a>
          <a href="/favorites"><li>My Favorites</li></a>
          <a href="/"><li>Search Trails</li></a>
          <a href="/about"><li>About Us</li></a>
          
        </ul>
      </div>
    </nav>
</header>