<h1 id="titleHeader"><img src="/public/assets/mountains.png">GetGoing</h1>
  <nav role='navigation'>
    <div id="menuToggle">
      <input type="checkbox" />
      
      <span></span>
      <span></span>
      <span></span>
      
      
      <ul id="menu">
        <a href="#"><li>Home</li></a>
        <a href="#"><li>My Favorites</li></a>
        <a href="#"><li>Search Trails</li></a>
        <a href="#"><li>About Us</li></a>
        
      </ul>
    </div>
  </nav>
