<header>
  <!-- <div>This Icon was made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
  <img src="/public/assets/mountains.svg" id="mountain-icon">
  <h1 id="titleHeader">Point-B</h1>
  <div id="nav-target">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav role='navigation' id="nav-bar">
        <ul id="nav-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/favorites">My Favorites</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
</header>