<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../../public/styles/base.css">
  <link href="https://fonts.googleapis.com/css?family=Rammetto+One|Roboto|Rubik+Mono+One|Short+Stack|Staatliches&display=swap" rel="stylesheet">
  <title>Point-B</title>
</head>
