<header>
  <div id="icon-container">
    <img src="/public/assets/mountains.svg" id="mountain-icon">
    <h1 id="titleHeader">Point B</h1>
  </div>
  <nav role='navigation' id="nav-bar">
        <ul id="nav-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/favorites">My Favorites</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
</header>