<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body>

<header>
  <%- include('./partials/header') %>
</header>


<main>
  <h1>Find Trails</h1>
  <section id="searchCont">
    <form id="search-form" action="/location" method="post">
        <input class="trailsInput" type="text" name="search" placeholder="Enter a location" required>
          <p>Within:</p>
       <input class="trailsInput" type="number" name="quantity" min="0" max="20" placeholder="miles" required>

      <button class="lng-btn" type="submit">Find trails</button>
  </section>
</form>
</main>

  <footer>
    <%- include('partials/footer') %>
  </footer>

  
</body>
</html>