<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About Us</title>
  <link rel="stylesheet" href="../../public/styles/base.css" type="text/css">
</head>
<body>

  <header>

  </header>

  <main>

    <section class="about-container">
      <div class="card">

        <div class="front">
            <img src="../../public/assets/Natalie headshot.png" alt=" Natalie's headshot">
            <h2>Natalie Alway</h2>
        </div>

        <div class="back">
            <p>I've lived all over the pacific northwest, but have grown up in central Oregon most of my life. I've lived in Bend for about 16 years. I enjoy coding because it allows me to think creatively, solve problems, and build really cool things out of nothing!</p>
            <ul class="social-container">
              <li class="linkedin"><a href="https://www.linkedin.com/in/natalie-alway/"></a></li>
              <li class="github"><a href="https://github.com/natalielyn"></a></li>
              <li class="email"></li>
            </ul>
        </div>

      </div>

    </section>

        <!-- <section class="about-container">
            <img src="../../public/assets/mark headshot.jpg" alt="Mark's headshot">
            <h2>Mark Swearingen</h2>
            <p>Mark Swearingen is working towards a career in Software Development. Mark has been a Project
                Manager and Business Analyst mainly working on Customer Information Systems for utility companies. In addition,
                Mark has worked in the Computer Aided Design and Computer Aided Manufacturing (CAD/CAM) software sector.</p>
            <ul class="social-container">
                <li class="linkedin">
                    <a href="https://www.linkedin.com/in/mark-swearingen"><img src="" width=40px
                        alt="LinkedIn Icon"></a>
                  </li>
                  <li class="github">
                    <a href="https://github.com/MarkArlenSwearingen"><img src="" width=40px
                        alt="GitHub Icon"></a>
                  </li>
                  <li class="email">
                    <a href="mailto:markswearingen@bendcable.com"><img src="" width=40px alt="Email Icon"></a>
                  </li>
            </ul>
          </section>

          <section class="about-container">
              <img src="" alt="Conor's headshot">
              <h2>Conor McCue</h2>
              <p>Conor is a Human Being, Oregonian, and Software Developer. His educational background is in the natural sciences and his most recent work experience was in forestry. He is excited by the internet’s ability to advance human understanding and make previously esoteric data actionable.  Eventually he would like to use the adaptability, persistence, and creative problem-solving skills he developed as a wildland firefighter to reduce the cost of ecological data monitoring. Barring that, he just wants to make sweet graphs and solve other interesting problems.</p>
              <ul class="social-container">
                <li class="linkedin"></li>
                <li class="github"></li>
                <li class="email"></li>
              </ul>
            </section>

            <section class="about-container">
                <img src="../../public/assets/trevor headshot.jpg" alt="Trevor's headshot">
                <h2>Trevor Thompson</h2>
                <p>There is nothing that satisfies me more than creating a beautiful responsive application in
                    addition to being user-friendly. I'm passionate about learning the newest and greatest technologies whether its
                    the frontend or backend. I'm constantly exploring ways to enhance my abilities whether that be creating
                    something fun, listening to podcasts or diving into a book.</p>
                <ul class="social-container">
                    <li class="linkedin">
                        <a href="https://www.linkedin.com/in/trevorthomp"><img src="" width=40px
                            alt="LinkedIn Icon"></a>
                      </li>
                      <li class="github">
                        <a href="https://github.com/TrevorThomp"><img src="" width=40px alt="GitHub Icon"></a>
                      </li>
                      <li class="email">
                        <a href="mailto:Trevor.Ray.Thompson@gmail.com"><img src="" width=40px alt="Email Icon"></a>
                      </li>
                </ul>
              </section> -->
  </main>

  <footer>

  </footer>
  
</body>
</html>