<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>

  <%- include('../partials/header') %>

  <main class="abt-main-container">

    <section class="about-container">
      <div class="card">

        <div class="front">
            <img src="../../public/assets/Natalie headshot.png" alt=" Natalie's headshot">
            <h2>Natalie Alway</h2>
        </div>

        <div class="back">
          <div class="back-content">
              <p>I've lived all over the pacific northwest, but have grown up in central Oregon most of my life. I've lived in Bend for about 16 years. I enjoy coding because it allows me to think creatively, solve problems, and build really cool things out of nothing!</p>
              <ul class="social-container social-icons">
                <li><a class="social-icon" href="#"><i class="fa fa-envelope"></i></a></li>
                <li><a class="social-icon" href="https://www.linkedin.com/in/natalie-alway/"><i class="fa fa-linkedin"></i></a></li>
                <li><a class="social-icon" href="https://github.com/natalielyn"><i class="fa fa-github"></i></a></li>
            </ul>
          </div>
        </div>

      </div>
    </section>

    <section class="about-container">
        <div class="card">
  
          <div class="front">
              <img src="../../public/assets/mark headshot.jpg" alt="Mark's headshot">
              <h2>Mark Swearingen</h2>
          </div>
  
          <div class="back">
            <div class="back-content">
                <p>Mark Swearingen is working towards a career in Software Development. Mark has been a Project
                    Manager and Business Analyst mainly working on Customer Information Systems for utility companies. In addition,
                    Mark has worked in the Computer Aided Design and Computer Aided Manufacturing (CAD/CAM) software sector.</p>
                <ul class="social-container social-icons">
                  <li><a class="social-icon" href="mailto:markswearingen@bendcable.com"><i class="fa fa-envelope"></i></a></li>
                  <li><a class="social-icon" href="https://www.linkedin.com/in/mark-swearingen"><i class="fa fa-linkedin"></i></a></li>
                  <li><a class="social-icon" href="https://github.com/MarkArlenSwearingen"><i class="fa fa-github"></i></a></li>
              </ul>
            </div>

          </div>
  
        </div>
      </section>

      <section class="about-container">
          <div class="card">
    
            <div class="front">
                <img src="../../public/assets/conor.jpg" alt="Conor's headshot">
                <h2>Conor McCue</h2>
            </div>
    
            <div class="back">
              <div class="back-content">
                  <p>Conor is a Human Being, Oregonian, and Software Developer. His educational background is in the natural sciences and his most recent work experience was in forestry. He is excited by the internet’s ability to advance human understanding and make previously esoteric data actionable.  Eventually he would like to use the adaptability, persistence, and creative problem-solving skills he developed as a wildland firefighter to reduce the cost of ecological data monitoring. Barring that, he just wants to make sweet graphs and solve other interesting problems.</p>
                  <ul class="social-container social-icons">
                    <li><a class="social-icon" href="mailto:conormccue@gmail.com"><i class="fa fa-envelope"></i></a></li>
                    <li><a class="social-icon" href="https://www.linkedin.com/in/conormccue/"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="social-icon" href="https://github.com/Pseudotsuga"><i class="fa fa-github"></i></a></li>
                </ul>
              </div>

            </div>
    
          </div>
        </section>

        <section class="about-container">
            <div class="card">
      
              <div class="front">
                  <img src="../../public/assets/trevor headshot.jpg" alt="Trevor's headshot">
                  <h2>Trevor Thompson</h2>
              </div>
      
              <div class="back">
                <div class="back-content">
                    <p>There is nothing that satisfies me more than creating a beautiful responsive application in
                        addition to being user-friendly. I'm passionate about learning the newest and greatest technologies whether its
                        the frontend or backend. I'm constantly exploring ways to enhance my abilities whether that be creating
                        something fun, listening to podcasts or diving into a book.</p>
                            <ul class="social-container social-icons">
                                <li><a class="social-icon" href="mailto:trevor.ray.thompson@gmail.com"><i class="fa fa-envelope fa-10x"></i></a></li>
                                <li><a class="social-icon" href="https://www.linkedin.com/in/trevorthomp/"><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="social-icon" href="https://github.com/TrevorThomp"><i class="fa fa-github"></i></a></li>
                            </ul>
                </div>

              </div>
      
            </div>
          </section>


  </main>

  <footer>
    <%- include('../partials/footer') %>
  </footer>
  
  <script src="https://use.fontawesome.com/e501429516.js"></script>
</body>
</html>