@import url('./reset.css');
@import url('./module.css');
@import url('./layout.css');
@import url('./state.css');

html {
  height:100%;
}

header {
  height: 20%;
  max-height: 150px;
  background-color: #626E60;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

footer {
  height: 15%;
  background-color: #626E60;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  font-family: 'Staatliches', cursive;
  color: antiquewhite;
}

a {
  text-decoration: none;
}

footer a {
  color: antiquewhite;
}
button {
  background: #AF473C;
  border: 1px solid #AF473C;
  color: #fff;
  padding: 0 5%;
  border-radius: 25px;
}

button:active {
  border: 20% solid #fff;
} 
