
/* HEADER / FOOTER  */
#titleHeader {
  font-size: 3em;
  font-family: monospace;
  padding-top: 20px;
  padding-left: 20px;
  }


  /* Map and Aside Structure */

#main-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
}

  #results-container {
    margin-top: 20px;
    margin-left: 20px;
    width: 100%;
  }

  #map-container {
    width: 70%;
    height: 300px;
    margin: 50px 0px;
  }

  #map-container img {
    width: 100%;
    margin-left: 40px;
  }

  