/* Header */
header{
  height: 20%;
  background-color: #626E60;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

#titleHeader{
  font-size: 3em;
  font-family: 'Staatliches', cursive;
  color: antiquewhite;
  width: 40%;
  height: 50%;
  padding-top: 10%;
}

#mountain-icon{
  background-color: antiquewhite;
  width: 30%;
  height: 50%;
}

#nav-bar{
  width: 100%;
  height: 10%;
}

#nav-menu{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

#nav-menu a{
  color: antiquewhite;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-shadow: 0.06em 0.1em 0.1em hsla(34, 78%, 70%, 1);
}

#nav-menu a:active{
  color: #C69543;
  border-bottom: 1px ridge #C69543;
  background-color: hsla(38, 53%, 52%, 0.4);
  transition: all 0.5s ease;
}

/* SEARCH FORM */
.search-form-inputs{
  padding: 3% 0;
  margin: 0 1%;
}

#form-title{
  font-size: 2em;
  padding: 5% 0;
  margin-bottom: 14%;
  color: antiquewhite;
  width: 100%;
  background-color: rgb(51, 51, 51);
}

#search-form{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#search-form-select{
  width: 40%;
}

#input-search{
  width: 35%;
}

#input-number{
  width: 11%;
}

#button-submit{
  font-size: 2em;
  margin-top: 5%;
  color: antiquewhite;
}

/* Footer */

#github-link{
  font-size: 3em;
  width: 40%;
  text-align: center;
}

#send{
  text-align: center;
  width: 40%;
  font-size: 3em;
}

/* Result Cards */
img.trail-item{
  width: auto;
}

/* Hidden Form */
.hide-me {
  display: none;
}

#hidden-form {
  width: 60%;
}

.detail-button {
  padding: 5%;
  margin-bottom: 5%;
  font-size: 1em;
  font-family: 'Rammetto One', cursive;
  box-shadow: 0.2em 0.2em hsla(6, 49%, 24%, 0.9);
  color: antiquewhite;
}

.detail-button > a{
  color: antiquewhite;
}

#detail-container {
  width: 100vw;
  height: 80vh;
  background-color: #3c3c3c;
  color: antiquewhite;
  font-family: Staatliches, cursive;
}

#view-detail-button {
  padding: 10px;
}

#trail-detail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  padding: 0 5%;
  font-size: 1.2em;
}

#detail-image{
  width: 40%;
  height: auto;
}
/* About Us Styling */
.about-container {
  width: 90%;
  height: 320px;
  background: none;
  margin: 10px;
}

.front img {
  width: 40%;
  border-radius: 50%;
}

.card {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.card:hover {
  transform: rotateY(180deg);
}

.front {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  backface-visibility: hidden;
  overflow: hidden;
  color: #000;
  background-color: #626E60;
  color: antiquewhite;
}

.front h2 {
  font-size: 1.2em;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
  background-color: #626E60;
  color: antiquewhite;
}

.back-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.back-content p {
  margin-bottom: 30px;
  line-height: 1em;
}


/* Social Media Icons and FA Icons */
.social-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  font-size: 1.6em;
}

.social-icon {
  color: black;
  width: 10%;
}

.fa-github {
  padding:20px 24px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: inherit;
  color: antiquewhite;
}

.fa-github:hover {
  color: white;
  background-color: black;
}

.fa-envelope {
  padding:20px 24px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: inherit;
  color: antiquewhite;
}

.fa-envelope:hover {
  color: white;
  background-color: red
}

.fa-linkedin {
  padding:20px 24px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: inherit;
  color: antiquewhite;
}

.fa-linkedin:hover {
  color: white;
  background-color: #3d5b99;
}

