body{
  box-sizing: border-box;
}

header{
  width: 100vw;
  height: 22.5vh;
}

main{
  width: 100vw;
  height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map{
  width: 50%;
  height: auto;
}

ul{
  width: 100vw;
  height: 80%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.trails{
  width: 100vw;
  height: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
}
.trails img{
  height: 30%;
  width: 30%;
}

footer{
  width: 100%;
  height: 10vh;
  margin-top: 10%;
}

/* Potential Dark Theme color paletter to match Striking and energetic
33 Earthy and fresh
TERRACOTTA #945D60
HERB #62E60
CHILLI #AF473C
CHARCHOAL #3C3C3C
Google fonts
font-family: 'Poiret One', cursive;
       font-family: 'Luckiest Guy', cursive;
CSS
font-family: 'Poiret One', cursive;
       font-family: 'Luckiest Guy', cursive; */
