/* Media Query Updating */
@media (min-width: 768px) {
  .abt-main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }

  .about-container {
    width: 40%;
  }

  .front img {
    width: 30%;
    border-radius: 20%;
  }
}