/* Media Query Updating */
@media (min-width: 768px) {
  .main-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about-container {
    width: 40%;
  }

  .front img {
    width: 50%;
  }
}