/* Media Query Updating */
@media (min-width: 768px) {

  body {
    padding-bottom: 60px;
    height: 95vh;
  }

  footer {
    height: 10%;
  }

  /* About Us Page */
  .abt-main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }

  .about-container {
    width: 40%;
  }

  .front img {
    width: 30%;
    border-radius: 20%;
  }

  /* Header */

  header {
    flex-flow: row;
    height: 10%;
  }

  #mountain-icon {
    width: 5%;
    margin-left: 15px;
  }

  #titleHeader {
    padding-top: 5px;
    margin-left: 20px;
  }

  #nav-menu a {
    font-size: 1.3em;
  }


  /* Index Page */

  #form-title {
    padding: 20px;
    margin-bottom: 0;
    margin-top: 50px;
  }

  /* Favorites Container */

  #favorites-container {
    flex-wrap: nowrap;
  }

  #detail-container {
    height: 60vh;
  }

  #results-main {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    grid-template-areas: 'aside map'
    ;
  }

  #results-container {
    margin: 30px;
  }

  #map {
    width: 60%;
    margin-left: 100px;
    margin: 70px;
    padding-left: 150px;
  }
}