<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Favorites</title>
  <% include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>
  <main>
<h1>Favorites</h1>
<p>Form header</p>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>
</html>